.newTask {
  display: flex;
  gap: 0.5rem;
}

.newTask input {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 0;
  flex: 1;
} 

.newTask button {
  padding: 1rem;
  background-color: var(--blue-dark);
  color: var(--white);
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.newTask button:hover {
  background-color: var(--blue);
}